pandas>=2.2.0
numpy>=1.26.0
scikit-learn==1.6.1
joblib==1.3.2
fastapi>=0.115.0
gunicorn
uvicorn>=0.27.0
cloudpickle
python-dotenv
google-generativeai
api
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
